<!DOCTYPE html>
<html>
<head>
	<title>Creating a new Dog</title>
</head>
<body>
	<form action="/"  method="post" >
		Name:<input type="text" name="name">
		Age:<input type="text" name="age">
		<input type="submit" value="Add a new Dog">
	</form>
	<a href="/"> Go Back</a>
</body>
</html>